# Nix/direnv
/result*
/.direnv/

# Binary destination from `make`
/optnix

# For bubbletea log files
*.log

# Ignore any sample .toml files used for configuration
/*.toml

# Generated site artifacts
/doc/book
/doc/src/usage/generated-module.md
/site

# Generated man page artifacts
/optnix.1
/optnix.toml.5
